<div class="layui-header" style="z-index:999!important;">
    <div class="fl header-logo">PubgAdmin</div>
    <div class="fl header-fold"><a href="javascript:;" title="打开/关闭左侧导航" class="aicon ai-shouqicaidan" id="foldSwitch"></a></div>
    <ul class="layui-nav fl nobg main-nav">
        {volist name="hisiMenus" id="vo"}
            {if condition="($hisiCurParents['pid'] eq $vo['id'] and $ca neq 'plugins/run') or ($ca eq 'plugins/run' and $vo['id'] eq 3)"}
           <li class="layui-nav-item layui-this">
            {else /}
            <li class="layui-nav-item">
            {/if} 
            <a href="javascript:;">{$vo['title']}</a></li>
        {/volist}
    </ul>
    <ul class="layui-nav fr nobg head-info">
        <li class="layui-nav-item">
            <a href="__ROOT_DIR__" target="_blank" class="aicon ai-ai-home" title="前台"></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:void(0);" class="aicon ai-qingchu" id="hisi-clear-cache" title="清缓存"></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:void(0);" class="aicon ai-suo" id="lockScreen" title="锁屏"></a>
        </li>
        <li class="layui-nav-item">
            <a href="{:url('system/user/setTheme')}" id="hisi-theme-setting" class="aicon ai-theme"></a>
        </li>
        <li class="layui-nav-item hisi-lang">
            <a href="javascript:void(0);"><i class="layui-icon layui-icon-website"></i></a>
            <dl class="layui-nav-child">
                {volist name="languages" id="vo"}
                    {if condition="$vo['pack']"}
                    <dd><a href="{:url('system/index/index')}?lang={$vo['code']}">{$vo['name']}</a></dd>
                    {/if}
                {/volist}
                <dd>
                    <a data-id="000" class="admin-nav-item top-nav-item" href="{:url('system/language/index')}">语言包管理</a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:void(0);">{$login['nick']}&nbsp;&nbsp;</a>
            <dl class="layui-nav-child">
                <dd>
                    <a data-id="00" class="admin-nav-item top-nav-item" href="{:url('system/user/info')}">个人设置</a>
                </dd>
                <dd>
                    <a href="{:url('system/user/iframe')}" class="hisi-ajax" refresh="true">{:input('cookie.hisi_iframe') ? '单页布局' : '框架布局' }</a>
                </dd>
                <dd>
                    <a href="{:url('system/publics/logout')}">退出登陆</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>
<div class="layui-side layui-bg-black" id="switchNav">
    <div class="layui-side-scroll">
        {volist name="hisiMenus" id="v"}
        {if condition="($hisiCurParents['pid'] eq $v['id'] and $ca neq 'plugins/run') or ($ca eq 'plugins/run' and $v['id'] eq 3)"}
        <ul class="layui-nav layui-nav-tree">
        {else /}
        <ul class="layui-nav layui-nav-tree" style="display:none;">
        {/if}
        {if (isset($v['childs']))}
            {volist name="v['childs']" id="vv" key="kk"}
            <li class="layui-nav-item {if condition="$kk eq 1"}layui-nav-itemed{/if}">
                <a href="javascript:;"><i class="{$vv['icon']}"></i>{$vv['title']}<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    {if condition="$vv['title'] eq '快捷菜单'"}
                        <dd>
                            <a class="admin-nav-item" data-id="0" href="{:input('cookie.hisi_iframe') ? url('system/index/welcome') : url('system/index/index')}"><i class="aicon ai-shouye"></i> 后台首页</a>
                        </dd>
                        {if (isset($vv['childs']))}
                        {volist name="vv['childs']" id="vvv"}
                        <dd>
                            <a class="admin-nav-item" data-id="{$vvv['id']}" href="{if condition="strpos('http', $vvv['url']) heq false"}{:url($vvv['url'], $vvv['param'])}{else /}{$vvv['url']}{/if}">{if condition="file_exists('.'.$vvv['icon'])"}<img src="{$vvv['icon']}" width="16" height="16" />{else /}<i class="{$vvv['icon']}"></i>{/if} {$vvv['title']}</a><i data-href="{:url('system/menu/del?id='.$vvv['id'])}" class="layui-icon j-del-menu">&#xe640;</i>
                        </dd>
                        {/volist}
                        {/if}
                    {else /}
                        {if (isset($vv['childs']))}
                        {volist name="vv['childs']" id="vvv"}
                        <dd>
                            <a class="admin-nav-item" data-id="{$vvv['id']}" href="{if condition="strpos('http', $vvv['url']) heq false"}{:url($vvv['url'], $vvv['param'])}{else /}{$vvv['url']}{/if}">{if condition="file_exists('.'.$vvv['icon'])"}<img src="{$vvv['icon']}" width="16" height="16" />{else /}<i class="{$vvv['icon']}"></i>{/if} {$vvv['title']}</a>
                        </dd>
                        {/volist}
                        {/if}
                    {/if}
                </dl>
            </li>
            {/volist}
        {/if}
        </ul>
        {/volist}
    </div>
</div>
<script type="text/html" id="hisi-theme-tpl">
    <ul class="hisi-themes">
        {volist name=":session('hisi_admin_themes')" id="vo"}
        <li data-theme="{$vo}" class="hisi-theme-item-{$vo}"></li>
        {/volist}
    </ul>
</script>
<script type="text/html" id="hisi-clear-cache-tpl">
    <form class="layui-form" style="padding:10px 0 0 30px;" action="{:url('system/index/clear')}" method="post">
        <div class="layui-form-item">
            <input type="checkbox" name="cache" value="1" title="数据缓存" />
        </div>
        <div class="layui-form-item">
            <input type="checkbox" name="log" value="1" title="日志缓存" />
        </div>
        <div class="layui-form-item">
            <input type="checkbox" name="temp" value="1" title="模板缓存" />
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">执行删除</button>
        </div>
    </form>
</script>