
<table id="dataTable"></table>
{include file="block/layui" /}
<script type="text/html" title="状态模板" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.status }}" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|关闭" {{ d.status == 1 ? 'checked' : '' }} {{ d.system == 1 ? 'disabled' : '' }} data-href="{:url('status')}?id={{ d.id }}">
</script>

<script type="text/html" title="排序模板" id="sortTpl">
    <input type="text" class="layui-input hisi-ajax-input input-sort" onkeyup="value=value.replace(/[^\d]/g,'')" value="{{ d.sort }}" data-value="{{ d.id }}" data-href="{:url('sort')}?id={{ d.id }}">
</script>

<script type="text/html" title="操作按钮模板" id="buttonTpl">
        <a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">Edit</a><a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger hisi-tr-del">Delete</a>
</script>
<script type="text/html" id="toolbar">
    <div class="layui-btn-group fl">
        <a href="{:url('add?group='.input('param.group'))}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine">&nbsp;Create Room</a>
        <!--<a data-href="{:url('status?val=1')}" class="layui-btn layui-btn-primary layui-btn-sm hisi-page-btns layui-icon layui-icon-play" data-table="dataTable">&nbsp;启用</a>
        <a data-href="{:url('status?val=0')}" class="layui-btn layui-btn-primary layui-btn-sm hisi-page-btns layui-icon layui-icon-pause" data-table="dataTable">&nbsp;禁用</a>-->
        <a data-href="{:url('del')}" class="layui-btn layui-btn-primary layui-btn-sm hisi-page-btns confirm layui-icon layui-icon-close red">&nbsp;Delete</a>
    </div>
    <br/>
    <form class="layui-form page-form" action="{:url('')}" method="get">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 50px">ID</label>
            <div class="layui-input-inline" style="width: 100px">
                <input type="text" class="layui-input field-title" name="id" autocomplete="off" placeholder="" value="{if condition="isset($room['youtube_url'])"}{$room['youtube_url']}{/if}">
            </div>
            <label class="layui-form-label" style="width: 150px">Game Room ID</label>
            <div class="layui-input-inline w100">
                <input type="text" class="layui-input field-title" name="game_room_id" autocomplete="off" placeholder="" value="{if condition="isset($room['youtube_url'])"}{$room['youtube_url']}{/if}">
            </div>
            <button type="submit" class="layui-btn layui-btn-normal">Search</button>
        </div>
    </form>
</script>

<script type="text/javascript">
    layui.use(['form','table', 'jquery', 'layer'], function() {
        var table = layui.table, formType = {:json_encode(form_type())}, 
            $ = layui.jquery, layer = layui.layer;
        table.render({
            elem: '#dataTable'
            ,url: '{:url('?group='.input('param.group').'&id='.input('param.id').'&game_room_id='.input('param.game_room_id'))}' //数据接口
            ,page: true //开启分页
            ,limit: 20
            ,skin: 'row'
            ,even: true
            ,text: {
                none : '暂无相关数据'
            }
            ,toolbar: '#toolbar'
            ,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'id', title: 'ID'}
                ,{field: 'room_name', title: 'Room Name'}
                ,{field: 'team_mode', title: 'Team Mode'}
                ,{field: 'entry_fee', title: 'Entry Fee'}
                ,{field: 'per_kill_prize', title: 'Per Kill Prize'}
                //,{field: 'rank_player', title: 'Ranking Rewards'}
                //,{field: 'map', title: 'Map'}
                //,{field: 'view', title: 'View'}
                ,{field: 'game_room_id', title: 'Game Room ID'}
                ,{field: 'game_room_pwd', title: 'Game Room Password'}
                ,{field: 'status', title: 'Status'}
                ,{field: 'start_time', title: 'Start Time'}
                //,{field: 'sign_time', title: 'Sign Time'}
                //,{field: 'sign_end_time', title: 'Sign End Time'}
                //,{field: 'created', title: 'Create Time'}
                ,{field: 'updated', title: 'Update Time'}
                ,{field: 'operator', title: 'Operator'}
                // ,{field: 'sort', title: '排序', width: 80, templet: '#sortTpl'}
                // ,{field: 'status', title: '状态', width: 100, templet: '#statusTpl'}
                ,{title: 'Manage', width: 120, templet: '#buttonTpl'}
            ]]
        });

        $('#hisiAddGroup').on('click', function(){
            layer.prompt({
                title: '添加分组',
            }, function(value, index, elem) {

                $.post('{:url('addGroup')}', {name: value}, function(res) {
                    if (res.code == 0) {
                        layer.msg(res.msg);
                    } else {
                        location.href = res.url;
                        layer.close(base);
                    }
                }, 'json');
            });
            $('.layui-layer-input').attr('placeholder', '别名:标题，示例：user:会员');
            return false;
        });
    });
</script>