
<form class="layui-form page-form" action="{:url('')}" method="post" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label">Room Name</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="room_name" lay-verify="required" autocomplete="off" placeholder="" value="{if condition="isset($room['room_name'])"}{$room['room_name']}{/if}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Team Mode</label>
        <div class="layui-input-inline w300">
            <select name="team_mode" class="field-type" type="select">
                <option value="1" {if condition="isset($room['team_mode']) && $room['team_mode'] eq 1"}selected{/if}>SOLO Per Kill</option>
                <option value="2" {if condition="isset($room['team_mode']) && $room['team_mode'] eq 2"}selected{/if}>SOLO Top X</option>
                <option value="3" {if condition="isset($room['team_mode']) && $room['team_mode'] eq 3"}selected{/if}>DUO</option>
                <option value="4" {if condition="isset($room['team_mode']) && $room['team_mode'] eq 4"}selected{/if}>SQUAD</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Entry Fee</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="entry_fee" lay-verify="required" autocomplete="off" placeholder="" value="{if condition="isset($room['entry_fee'])"}{$room['entry_fee']}{/if}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">No.1 Prize</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="top_1" autocomplete="off" placeholder=""  value="{if condition="isset($room['top_1'])"}{$room['top_1']}{/if}">
        </div>
        <div class="layui-form-mid layui-word-aux">The prize amount for No.1 of person or team</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">No.2 Prize</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="top_2" autocomplete="off" placeholder=""  value="{if condition="isset($room['top_2'])"}{$room['top_2']}{/if}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">No.3 Prize</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="top_3" autocomplete="off" placeholder=""  value="{if condition="isset($room['top_3'])"}{$room['top_3']}{/if}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">No.4 Prize</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="top_4" autocomplete="off" placeholder=""  value="{if condition="isset($room['top_4'])"}{$room['top_4']}{/if}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">No.5 Prize</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="top_5" autocomplete="off" placeholder=""  value="{if condition="isset($room['top_5'])"}{$room['top_5']}{/if}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Per Kill Prize</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="per_kill_prize" autocomplete="off" placeholder="" value="{if condition="isset($room['per_kill_prize'])"}{$room['per_kill_prize']}{/if}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">MVP Prize</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="mvp_prize" autocomplete="off" placeholder="" value="{if condition="isset($room['mvp_prize'])"}{$room['mvp_prize']}{/if}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Prize Title</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="prize_title" autocomplete="off" placeholder="" value="{if condition="isset($room['prize_title'])"}{$room['prize_title']}{/if}">
        </div>
    </div>
   <!-- <div class="layui-form-item">
        <label class="layui-form-label">How many Ranks Players</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="rank_player" autocomplete="off" placeholder="" value="{if condition="isset($room['rank_player'])"}{$room['rank_player']}{/if}">
        </div>
    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">Map</label>
        <div class="layui-input-inline w300">
            <select name="map" class="field-type" type="select">
                <option value="1" {if condition="isset($room['map']) && $room['map'] eq 1"}selected{/if}>Sanhok</option>
                <option value="2" {if condition="isset($room['map']) && $room['map'] eq 2"}selected{/if}>Erangle</option>
                <option value="3" {if condition="isset($room['map']) && $room['map'] eq 3"}selected{/if}>Miramar</option>
                <option value="4" {if condition="isset($room['map']) && $room['map'] eq 4"}selected{/if}>Vikendi</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">View</label>
        <div class="layui-input-inline w300">
            <select name="view" class="field-type" type="select">
                <option value="1">TPP</option>
                <option value="2">FPP</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Start Time</label>
        <div class="layui-input-inline">

            <input type="text" class="layui-input layui-date" name="start_time" autocomplete="off" placeholder="" id="laydate-start_time"laydate-type="datetime" value="{if condition="isset($room['start_time'])"}{$room['start_time']|date='Y-m-d H:i:s'}{/if}">
        </div>
        <div class="layui-form-mid layui-word-aux">Now : <?php echo date('Y-m-d H:i:s', time());?></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Sign Open Time</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input layui-date" name="sign_time" autocomplete="off" placeholder="" id="laydate-sign_time" laydate-type="datetime" value="{if condition="isset($room['sign_time'])"}{$room['sign_time']|date='Y-m-d H:i:s'}{/if}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">Sign End Time</label>
        <div class="layui-input-inline w300">
            <select name="sign_end_time" class="field-type" type="select">
                <option value="5" {if condition="isset($room['sign_end_time']) && $room['sign_end_time'] eq 5"}selected{/if}>5 Min</option>
                <option value="10" {if condition="isset($room['sign_end_time']) && $room['sign_end_time'] eq 10"}selected{/if}>10 Min</option>
                <option value="20" {if condition="isset($room['sign_end_time']) && $room['sign_end_time'] eq 20"}selected{/if}>20 Min</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">Entry to the game is not allowed at after the deadline.</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Room Id</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="game_room_id" lay-verify="required|number" maxlength="6" autocomplete="off" placeholder="" value="{if condition="isset($room['game_room_id'])"}{$room['game_room_id']}{/if}">
        </div>
        <div class="layui-form-mid layui-word-aux">The game room id</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Room Password</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="game_room_pwd" lay-verify="required|number" maxlength="6" autocomplete="off" placeholder="" value="{if condition="isset($room['game_room_pwd'])"}{$room['game_room_pwd']}{/if}">
        </div>
        <div class="layui-form-mid layui-word-aux">The game room password</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Youtube Link</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-title" name="youtube_url" autocomplete="off" placeholder="" value="{if condition="isset($room['youtube_url'])"}{$room['youtube_url']}{/if}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"> </label>
        <div class="layui-input-block">
            <input type="hidden" class="field-id" name="id" value="{if condition="isset($room['id'])"}{$room['id']}{/if}">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">Submit</button>
            <a href="{:url('index')}" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>Back</a>
        </div>
    </div>
</form>
{include file="block/layui" /}
<script>
    layui.use(['form', 'laydate', 'func'], function() {
        var $ = layui.jquery, laydate = layui.laydate, form = layui.form;
        layui.func.assign({:json_encode($formData)});
        form.on('select(group)', function(data) {
            $('#groupShow').html(data.value);
        });

        /* 绑定多个日期控件 */
        $('.layui-date').each(function(i) {
            var t = $(this), option = {
                elem: this,
                type: t.attr('laydate-type'),
                trigger: 'click'
            };

            laydate.render(option);
        });
    });
</script>