<table id="dataTable"></table>
{include file="block/layui" /}
<script type="text/html" title="状态模板" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.status }}" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|关闭" {{ d.status == 1 ? 'checked' : '' }} {{ d.system == 1 ? 'disabled' : '' }} data-href="{:url('status')}?id={{ d.id }}">
</script>

<script type="text/html" title="排序模板" id="sortTpl">
    <input type="text" class="layui-input hisi-ajax-input input-sort" onkeyup="value=value.replace(/[^\d]/g,'')" value="{{ d.sort }}" data-value="{{ d.id }}" data-href="{:url('sort')}?id={{ d.id }}">
</script>

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('kills')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">Kills</a>
    <a href="{:url('gameResult')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">Result</a>
    <a data-href="{:url('passResult')}?id={{ d.id }}" id="pass_result" data-id="{{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal j-ajax">Settle</a>
</script>

<script type="text/javascript">
    layui.use(['table', 'jquery', 'layer'], function() {
        var table = layui.table, formType = {:json_encode(form_type())}, 
            $ = layui.jquery, layer = layui.layer;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
            ,limit: 20
            ,skin: 'row'
            ,even: true
            ,text: {
                none : '暂无相关数据'
            }
            ,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'id', title: 'ID'}
                ,{field: 'room_name', title: 'Room Name'}
                ,{field: 'team_mode', width:200, title: 'Team Mode'}
                //,{field: 'map', title: 'Map'}
                //,{field: 'view', title: 'View'}
                ,{field: 'game_room_id', title: 'Game Room ID'}
                ,{field: 'status', title: 'Status'}
                ,{field: 'start_time', title: 'Start Time'}
                //,{field: 'sign_time', title: 'Sign Time'}
                ,{field: 'result_status', title: 'Result'}
                //,{field: 'result_image', title: 'Result Image'}
                ,{title: 'Manage', width: 200, templet: '#buttonTpl'}
            ]]
        });

        $("#pass_result").on('click', function(){
            alert(1);
            return false;
        });
    });
</script>