<form class="layui-form page-form" action="{:url()}" method="post" id="editForm">
    {volist name="players" id="vo"}
    <div class="layui-form-item">
        <label class="layui-form-label w100">{$vo['game_nick_name']}</label>
        <div class="layui-input-inline w100">
            <input type="text" class="layui-input field-title" name="player_{$vo['id']}" lay-verify="required" autocomplete="off" placeholder="Kills" value="{$vo['kills']}">
        </div>
        <div class="layui-form-mid layui-word-aux">{if condition="$vo['status'] eq 0"}<span style="color: red">UnPaid</span>{/if}</div>
    </div>
    {/volist}
    <div class="layui-form-item">
        <label class="layui-form-label"> </label>
        <div class="layui-input-block">
            <input type="hidden" class="field-id" name="room_id" value="{$room_id}" />
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">Submit</button>
            <a href="javascript:history.back();" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>Back</a>
        </div>
    </div>
</form>
{include file="block/layui" /}
<script>
    layui.use(['jquery', 'laydate', 'upload'], function() {
        var $ = layui.jquery, laydate = layui.laydate, layer = layui.layer, upload = layui.upload;
        upload.render({
            elem: '.layui-upload',
            url: '{:url("system/annex/upload?thumb=no&water=no")}'
            ,method: 'post'
            ,before: function(input) {
                layer.msg('文件上传中...', {time:3000000});
            },done: function(res, index, upload) {
                var obj = this.item;
                if (res.code == 0) {
                    layer.msg(res.msg);
                    return false;
                }
                layer.closeAll();
                var input = $(obj).parents('.upload').find('.upload-input');
                if ($(obj).attr('lay-type') == 'image') {
                    input.siblings('img').attr('src', res.data.file).show();
                }
                input.val(res.data.file);
            }
        });
    });
</script>