<form class="layui-form page-form" action="{:url('')}" method="post" id="editForm">
    <?php for($index=1;$index<=$room_data['rank_player'];$index++){ ?>
    <div class="layui-form-item">
        <label class="layui-form-label">No.{$index}</label>
        <div class="layui-input-inline w300">
            <select name="top_{$index}" class="field-type" type="select">
                <option value="0">Select</option>
                {if condition="$team_type eq 1"}
                    {volist name="players" id="vo"}
                    <option value="{$vo['uid']}" <?php if(isset($result_id['top_'.$index]) && $result_id['top_'.$index]==$vo['uid']){ ?>selected<?php } ?>>{$vo['game_nick_name']}</option>
                    {/volist}
                {else}
                    {for name="tm" start="1" end="$team_num"}
                    <option value="{$tm}" <?php if(isset($result_id['top_'.$index]) && $result_id['top_'.$index]==$tm){ ?>selected<?php } ?>>Team {$tm}</option>
                    {/for}
                {/if}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <?php } ?>
    <div class="layui-form-item">
        <label class="layui-form-label">MVP</label>
        <div class="layui-input-inline w300">
            <select name="mvp" class="field-type" type="select">
                <option value="0">Select</option>
                {volist name="players" id="vo"}
                <option value="{$vo['id']}" <?php if(isset($mvp) && $mvp==$vo['id']){ ?>selected<?php } ?>>{$vo['game_nick_name']}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Result Image</label>
        <div class="layui-input-inline upload">
            <button type="button" name="upload" class="layui-btn layui-btn-primary layui-upload" lay-type="image" lay-data="{exts:'{:str_replace(',', '|', config('upload.upload_image_ext'))}', accept:'image'}">Upload</button>
            <input type="hidden" class="upload-input" name="result_image" value="{$room_data['result_image']}">
            {if condition="$room_data['result_image'] neq ''"}
            <img src="{$room_data['result_image']}" style="display:inline-block;border-radius:5px;border:1px solid #ccc">
            {else /}
            <img src="" style="display:none;border-radius:5px;border:1px solid #ccc">
            {/if}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"> </label>
        <div class="layui-input-block">
            <input type="hidden" class="field-id" name="room_id" value="{$room_data['id']}">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">Submit</button>
            <a href="javascript:history.back();" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>Back</a>
        </div>
    </div>
</form>
{include file="block/layui" /}
<script>
    layui.use(['jquery', 'laydate', 'upload'], function() {
        var $ = layui.jquery, laydate = layui.laydate, layer = layui.layer, upload = layui.upload;
        upload.render({
            elem: '.layui-upload',
            url: '{:url("system/annex/upload?thumb=no&water=no")}'
            ,method: 'post'
            ,before: function(input) {
                layer.msg('文件上传中...', {time:3000000});
            },done: function(res, index, upload) {
                var obj = this.item;
                if (res.code == 0) {
                    layer.msg(res.msg);
                    return false;
                }
                layer.closeAll();
                var input = $(obj).parents('.upload').find('.upload-input');
                if ($(obj).attr('lay-type') == 'image') {
                    input.siblings('img').attr('src', res.data.file).show();
                }
                input.val(res.data.file);
            }
        });

        /* 绑定多个日期控件 */
        $('.layui-date').each(function(i) {
            var t = $(this), option = {
                elem: this,
                type: t.attr('laydate-type'),
                trigger: 'click'
            };

            laydate.render(option);
        });
    });
</script>